**/.git
**/build
**/snapshots
**/js/parser/svgPath.js
**/templates/*.js
../phet-io-website/root/assets/js/jquery-1.12.3.min.js
../phet-io-website/root/assets/highlight.js-9.1.0/highlight.pack.js
../phet-io-website/root/assets/highlight.js-9.1.0/highlight.js
../phet-io-website/root/assets/bootstrap-3.3.6-dist/js/npm.js
../phet-io-website/root/assets/bootstrap-3.3.6-dist/js/bootstrap.min.js
../phet-io-website/root/assets/bootstrap-3.3.6-dist/js/bootstrap.js
../phet-io-website/root/assets/js/QueryStringMachine_1.0.js
../phet-io-website/root/assets/js/QueryStringMachine_2.0.js
../phet-io-website/root/assets/js/phet-io-ga.js
../installer-builder/temp/**
../chipper/dist