<!DOCTYPE HTML>
<!-- Top-level HTML file for modifying sim colors -->
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="phet-sim-level" content="production">

  <title>Color Editor</title>

  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background: #888;
    }

    #color-column {
      display: inline-block;
    }

    div {
      display: inline-block;
    }

    #sim-iframe {
      grid-area: sim;
      position: fixed;
      right: 10px;
      top: 10px;
      border: 0;
    }
  </style>
</head>
<body>
<div id="main-container">
  <div id="color-column"></div>
  <iframe id="sim-iframe"></iframe>
</div>

<script type="text/javascript">
  const urlParams = new URLSearchParams( window.location.search );
  const sim = urlParams.get( 'sim' );
  const suffix = window.location.search || '?brand=phet';
  document.getElementById( 'sim-iframe' ).setAttribute( 'src', `../../${sim}/${sim}_en.html` + suffix );

  const simFrame = document.getElementById( 'sim-iframe' );
  const colorColumn = document.getElementById( 'color-column' );
  const updateIFrameDimensions = () => {
    const width = Math.round( window.innerWidth - colorColumn.getBoundingClientRect().width - 30 );

    // Maintain aspect ratio with the dimensions listed in ScreenView.js
    const height = width / 1024 * 618;
    simFrame.style.width = `${width}px`;
    simFrame.style.height = `${height}px`;
  };

  window.addEventListener( 'resize', updateIFrameDimensions );
  updateIFrameDimensions();

  // Maps color keys {string} => input elements {HTMLInputElement}
  const colorInputMap = {};

  window.addEventListener( 'message', function( evt ) {
    var data = JSON.parse( evt.data );
    if ( data.type === 'reportColor' ) {

      var name = data.name;
      var value = data.value;

      // Lazily create color inputs, so we don't need an up-front sim-specific list
      var input = colorInputMap[ name ];
      if ( !input ) {
        input = colorInputMap[ name ] = document.createElement( 'input' );
        input.type = 'color';

        const slider = document.createElement( 'input' );

        const sliderReadout = document.createElement( 'div' );
        const applyColorToSim = () => {
          sliderReadout.innerText = slider.valueAsNumber.toFixed( 2 );
          document.getElementById( 'sim-iframe' ).contentWindow.postMessage( JSON.stringify( {
            type: 'setColor',
            name: name,
            value: input.value,
            alpha: slider.valueAsNumber
          } ), '*' );
        };
        // Send user changes to the sim
        input.addEventListener( 'input', applyColorToSim );

        colorColumn.appendChild( input );

        // DUPLICATION ALERT: Copied with code in PhetioElementView.js
        slider.style.width = '100px';
        slider.type = 'range';
        slider.min = '0';
        slider.max = '1';
        slider.step = '0.01';
        slider.value = data.alpha;
        slider.addEventListener( 'input', applyColorToSim );
        colorColumn.appendChild( sliderReadout );
        colorColumn.appendChild( slider );

        sliderReadout.innerText = data.alpha.toFixed( 2 );

        colorColumn.appendChild( document.createTextNode( ' ' + name ) );
        colorColumn.appendChild( document.createElement( 'br' ) );

        updateIFrameDimensions();
      }

      input.value = value;
    }
  } );
</script>
</body>
</html>
