<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="phet-sim-level" content="production">
  <title>SIM_TITLE</title>
  <!--
  HTML_HEADER
  -->
</head>
<body bgcolor="black">
<img id="splash" style="position: absolute;top: 50%;left: 50%;margin-top: -210px;margin-left: -252px;" src="SPLASH_SCREEN_DATA_URI">
<script type="text/javascript">PHET_STRINGS</script>
<script type="text/javascript">PHET_INFO</script>
<script type="text/javascript">PHET_MIPMAPS</script>
PRELOAD_INLINE_JAVASCRIPT
<script type="text/javascript">
  (function() {
    var stringOverrides = JSON.parse( decodeURIComponent( phet.chipper.getQueryParameter( 'strings' ) || '{}' ) );

    var stringTest = ( typeof window !== 'undefined' && window.phet.chipper.getQueryParameter( 'stringTest' ) ) ?
                     window.phet.chipper.getQueryParameter( 'stringTest' ) :
                     null;

    // defined by PHET_STRINGS above, see chipper.Gruntfile.js
    assert && assert( window.phet.chipper.strings );
    window.phet.chipper.strings.get = function( key ) {
      // override strings via the 'strings' query parameter
      return stringOverrides[ key ] || mapString( window.phet.chipper.strings[ key ], stringTest );
    };
  })();
</script>
MAIN_INLINE_JAVASCRIPT
</body>
</html>
