<!DOCTYPE HTML>
<!--
HTML_HEADER
-->
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="phet-sim-level" content="production">
  <title>&nbsp;</title> <!-- Localized title will be filled in by JavaScript. -->
</head>
<body bgcolor="black">
<img id="splash" style="position: absolute;top: 50%;left: 50%;margin-top: -180px;margin-left: -252px;" src="SPLASH_SCREEN_DATA_URI">
<script type="text/javascript">PHET_STRINGS</script>
<script type="text/javascript">PHET_LOCALE</script>
<script type="text/javascript">
  window.phetStrings.get = function( key ) {

    //Support translation by query parameter so that translation in the browser will be feasible
    return window.phetcommon.getQueryParameter( key ) || window.phetStrings[key];
  };
</script>
<script type="text/javascript">PRELOAD_INLINE_JAVASCRIPT</script>
<script type="text/javascript">MAIN_INLINE_JAVASCRIPT</script>
</body>
</html>
